.navlink a {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  color: var(--neutral50);
  opacity: 0.6;
  border-left: 3px solid transparent;
  padding: 1rem 2rem;

  transition: opacity 0.15s;
}

.navlink a:hover {
  opacity: 1;
}

.navlink .active {
  opacity: 1;
  border-left: 3px solid #fff;
}

@media (max-width: 700px) {
  .navlink .active {
    border: none;
    border-bottom: 2px solid #fff;
  }

  .navlink {
    flex: 1;
  }

  .navlink,
  .navlink a {
    height: 100%;
  }
}
