.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.back__wrap {
  position: absolute;
  top: -4.6rem;
}

.display__wrap {
  min-height: 40rem;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__wrap {
  border-top: 1px solid var(--neutral500);
  border-bottom: 1px solid var(--neutral500);
}
