.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.back__wrap {
  position: absolute;
  top: -4.6rem;
}

.display__wrap {
  min-height: 40rem;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__wrap {
  border-bottom: 1px solid var(--neutral600);
}
