footer {
  display: flex;
  justify-content: end;
  align-items: center;

  height: 100%;
  margin: 0 6rem;

  font-size: 1.1rem;
  color: var(--neutral700);
}
.credits {
  color: var(--neutral700);
}

.credits:hover {
  color: var(--neutral400);
}
