.items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  grid-gap: 6rem;

  list-style-type: none;
}

.message {
  display: block;
  text-align: center;
  color: var(--neutral700);
  margin: 4rem auto;
}
