.loading__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 20rem;
  padding: 2rem;
}

.loading__outer {
  width: 22px;
  height: 22px;
  position: relative;
  animation: outer 3s linear infinite;
}

.loading__inner {
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
}

.loading__inner--1 {
  top: 0px;
  left: 0px;
  animation: inner--rotate 1.5s linear infinite,
    inner--opacity--1 3s ease infinite;
}

.loading__inner--2 {
  top: 0px;
  right: 0px;
  animation: inner--rotate 1.5s linear infinite,
    inner--opacity--2 3s ease infinite;
}

.loading__inner--3 {
  bottom: 0px;
  right: 0px;
  animation: inner--rotate 1.5s linear infinite,
    inner--opacity--3 3s ease infinite;
}

.loading__inner--4 {
  bottom: 0px;
  left: 0px;
  animation: inner--rotate 1.5s linear infinite,
    inner--opacity--4 3s ease infinite;
}

@keyframes outer {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes inner--rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes inner--opacity--1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes inner--opacity--2 {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes inner--opacity--3 {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes inner--opacity--4 {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}
